@import 'basic_mod.css';

.code-block-caption {
  text-align: center;
}

blockquote.quote {
  border-left: .2em solid #bdbdbd;
  font-style: italic;
  padding-left: 0.5em;
}

div.document h2, div.document h3, div.document h4, .rubric {
  font-weight: 100;
  margin: 1rem 0 0.5rem 0;
  border-left-style: solid;
  border-left-width: thin;
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-color: gray;
  padding-left: 0.3em;
  display: inline-block;
}

div.document div.admonition.warning {
  border-left: 5px solid red;
}

div.document div.admonition.warning p.admonition-title {
  color: red;
}

.caption-number {
/* For some inane reason, the html writer ignores numfig = False when you use captions
 * Best I can figure is to hide it entirely
 */
  display: none;
}
